// $accentColor = #ac4df5 // 默认主题颜色
// $borderColor = #eaecef // 默认边框颜色
// $codeBgColor = #282c34 // 默认背景颜色

// $textColor = #676767 // 默认字体颜色

.gt-container .gt-meta {
  z-index: 9 !important;
}

/*====== article start ======*/
.article {
  // 文章通用格式
  article{
    padding: 6px 26px;
    border-radius: 10px;
    font-family: PingFang SC;

    // 文章头部图片
    .hdimg_1 {
      margin-top: 10px;
    }

    // 文章段落
    p.txint {
      text-indent:2em;
    }
    
    // 文章落款
    span.timtp {
      float: right;
      color: #e2e2e2;
      font-size: 12.8px;
    }

    // 文章落款清除浮动
    &::after{
      content:".";
      display:block;
      clear:both;
      visibility:hidden;
      height:0;
      overflow:hidden;
    }
  }

  // 文章背景样式1
  article.art_bg1 {
    // yello
    background: linear-gradient(to bottom right, #8cf3e0, #e465db);
    color: #333;

    span.timtp {
      color: #e2e2e2;
    }
  }

  // 文章背景样式2
  article.art_bg2 {
    background: #141A32;
    color: #fff;

    span.timtp {
      color: #5d5d5d;
    }
  }
}
/*====== article end ======*/

/*====== table start ======*/
table
  border: none
  min-width 300px
  max-width 100%
  min-height 80px

  tr
    text-align center
    th
      text-align center
    td
      text-align center
    td
      min-width 70px
/*====== table end ======*/

/*====== 滚动条样式：谷歌浏览器下 start ======*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #f5f7fa;
  }

  /*滚动条的轨道*/
  ::-webkit-scrollbar-track{
    /*box-shadow: inset 0 0 5px rgba(0,0,0,.3);*/
    /* background-color: #f5f7fa; */
    background-color: #bdbdbd;
  }

  /*滚动条的滑块按钮*/
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    // background-color: #4a494a;
    background-color: #908c90;
    /*box-shadow: inset 0 0 5px #000;*/
  }

  /*滚动条的上下两端的按钮*/
  ::-webkit-scrollbar-button{
    height: 0px;
    background-color: #B0AEDA;
  }
/*====== 滚动条样式：谷歌浏览器下 end ======*/

/*====== codeinfo 代码说明 start ======*/
.codeinfo 
  display block;

  .cdfo_top 
    display block;

  .cdfo_cot
    span 
      display block;
      text-indent: 2em;
/*====== codeinfo 代码说明 end ======*/

/*====== Valine 评论 start ======*/
#valine-vuepress-comment
  width 80%;
  margin: 75px auto 0;
    /* .vpanel
        .vwrap
          border: solid 1px #f00 */

/*====== Valine 评论 end ======*/